* {
    box-sizing: border-box;
}

html {
    font-family: serif;
}

h1, h3, p{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

#title{
    display: flex;
    justify-content: center;
}

#packInfo{
    display: flex;
    justify-content: space-between;
}